*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li,a{
    list-style-type: none;
    text-decoration: none;
}


.container{
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
}

/* _________________NAVBAR START HERE____________________ */

nav{
    padding: 16px 0 16px 0; 
}

.nav__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list ul{
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav__list ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    font-family: "Inter", sans-serif;
}

.nav__logo{
    cursor: pointer;
}


.nav__btn button{
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    border: none;
    cursor: pointer;
    transition: all linear 0.3s;
    border-radius: 4px;
}
.nav__btn button:hover{
    padding: 12px 16px 12px 16px;
    background-color: #03692e;
    border: none;
    cursor: pointer;
}
.nav__btn button a{
font-family: "Inter", sans-serif;
color: white;
font-size: 16px;
font-weight: 600;
}

/* _________________NAVBAR END HERE____________________ */
